{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <script src={% static 'main.js' %} defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Castoro&family=Texturina&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <h1 class="navbar__heading">Top 10</h1>
            <span class="navbar__toggle"></span>
        </nav>
        <section class="hero">
            <h1 class="hero__heading">
                Top 10
            </h1>
            <hr>
            <p class="hero__desc">Top 10 articles <br> Knowledage that needed to make better decisions </p>
        </section>
        <section class="cards">
            <div class="card">
                <div class="img__container">
                    <img src="https://images.pexels.com/photos/4009402/pexels-photo-4009402.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" class="card__img">
                </div>
                <h1 class="card__heading">Top 10 movies</h1>
            </div>
            <div class="card">
                <div class="img__container">
                    <img src="https://images.pexels.com/photos/4009402/pexels-photo-4009402.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" class="card__img">
                </div>
                <h1 class="card__heading">Top 10 movies</h1>
            </div>
            <div class="card">
                <div class="img__container">
                    <img src="https://images.pexels.com/photos/4009402/pexels-photo-4009402.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" class="card__img">
                </div>
                <h1 class="card__heading">Top 10 movies</h1>
            </div>
            <div class="card">
                <div class="img__container">
                    <img src="https://images.pexels.com/photos/4009402/pexels-photo-4009402.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" class="card__img">
                </div>
                <h1 class="card__heading">Top 10 movies</h1>
            </div>
            <div class="card">
                <div class="img__container">
                    <img src="https://images.pexels.com/photos/4009402/pexels-photo-4009402.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" class="card__img">
                </div>
                <h1 class="card__heading">Top 10 movies</h1>
            </div>
        </section>
    </div>

    <div class="navigation">
        <ul class="navigation__list">
            <li class="navigation__element">
                <a href="#" class="navigation__link">Home</a>
            </li>
            <li class="navigation__element">
                <a href="#" class="navigation__link">Contact</a>
            </li>
            <li class="navigation__element">
                <a href="#" class="navigation__link">
                    About
                </a>
            </li>
        </ul>
    </div>
</body>
</html>